{% extends "base.html" %}
{% block content %}
<div class="jumbotron bg-danger" style="margin:0px;">
    <h1 class="text-white">Club App Tittle</h1>
</div>

<div class="container-fluid bg-dark mb-3" style="padding: 0px;">
    {% for post in blog_posts.items %}
        <div class="card w-auto bg-dark">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-6">
                    <div class="card-body">
                        <h2><a class="card-title text-white" href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}">{{post.title}}</a></h2>
                            <a class="text-white" href="{{url_for('users.user_posts', username=post.author.username)}}">Written By: {{post.author.username}}</a>
                            <p class="text-white">Published on: {{post.date.strftime('%Y-%m-%d')}}</p> 
                    </div>
                </div>
                <div class="col-auto">
                    <a class="btn btn-primary text-white col" style="height: 35%; margin-top: 15%; margin-bottom: 10%; " href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}">Up</a>
                    <a class="btn btn-primary text-white col" style="height: 35%;" href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}">Down</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<nav aria-label="Page Navigation example">
    <ul class="pagination justify-content-center">
        {% for page_num in blog_posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
            {% if blog_posts.page == page_num %}
            <li class="page-item disabled">
                <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
            </li>
            {% endif%}
        {% endfor %}
    </ul>
</nav>

{% endblock %}


